.form-section {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 0.3rem;
}

input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 0.7rem;
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}