.container {
  max-width: 800px;
  margin: 20px auto 40px auto;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

select,
input,
.select select {
  background-color: white !important;
  color: black !important;
  border-color: #b5b5b5;
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-section {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 0.7rem;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.viewer-container {
  margin-top: 2rem;
  background-color: #f5f5f5;
  padding: 10px;
}

#viewport {
  width: 100%;
  height: 80vh;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.heatmap-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;         /* horizontally center everything */
  justify-content: center;
  background-color: #f5f5f5;
  padding: 20px 0;
}

#heatmapDiv {
  width: 100%;
  max-width: 1200px;          
  margin: 0 auto;
}