<app-spinner-component></app-spinner-component>

<div style="text-align: center;">
  <img src="assets/images/Header.png" alt="Download image" style="width:350px; height:auto; padding-top: 20px;">
</div>

<div class="container">
  <div class="form-section">
    <label class="label has-text-grey-light">PDB File:</label>
    <div class="file has-name is-primary">
      <label class="file-label">
        <input class="file-input" type="file" accept=".pdb" (change)="onFileChange($event)" />
        <span class="file-cta">
          <span class="file-icon has-text-white">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label has-text-white">Choose a PDB File...</span>
        </span>
        <span class="file-name" *ngIf="pdbFile">
          {{ pdbFile.name }}
        </span>
      </label>
    </div>
  </div>

  <div class="form-section">
    <label clas="has-text-grey-light">Protein Chains:</label>
    <input type="text" [(ngModel)]="form.protein_chains" placeholder="e.g. A,B" />
  </div>

  <div class="form-section">
    <label class='has-text-grey-light'>Partner Chains:</label>
    <input type="text" [(ngModel)]="form.partner_chains" placeholder="e.g. C,D" />
  </div>

  <div class="form-section">
    <label class="has-text-grey-light">Mutations:</label>
    <input type="text" placeholder="e.g. ARGC59 GLUC60" [(ngModel)]="form.mutations"
      [disabled]="form.detect_interface" />
  </div>

  <div class="form-section">
    <label class="checkbox has-text-grey-light">
      <input type="checkbox" [(ngModel)]="form.detect_interface" (click)="onCheckBox()" />
      Detect Interface
    </label>
  </div>

  <button class="button is-primary" (click)="onGoClick()" style="margin-bottom: 28px;">Go</button>

  <div *ngIf="showViewer" style="padding-left: 30px;padding-right: 30px;">
    <div class="columns is-vcentered is-multiline">
      <div class="column is-one-fifth">
        <label class="label has-text-grey-light">Representation</label>
        <div class="control has-icons-left">
          <div class="select is-fullwidth">
            <select [(ngModel)]="viewerSettings.representation" (change)="updateRepresentation()">
              <option value="cartoon">Cartoon</option>
              <option value="surface">Surface</option>
              <option value="ball+stick">Ball + Stick</option>
              <option value="licorice">Licorice</option>
              <option value="ribbon">Ribbon</option>
              <option value="spacefill">Spacefill</option>
              <option value="backbone">Backbone</option>
              <option value="axes">Axes</option>
              <option value="hyperball">Hyperball</option>
              <option value="distance">Distance</option>
              <option value="contact">Contact</option>
              <option value="label">Label</option>
            </select>
          </div>
          <span class="icon is-left">
            <i class="fas fa-shapes"></i>
          </span>
        </div>
      </div>

      <div class="column is-one-fifth">
        <label class="label has-text-grey-light">Color Scheme</label>
        <div class="control has-icons-left">
          <div class="select is-fullwidth">
            <select [(ngModel)]="viewerSettings.color" (change)="updateRepresentation()">
              <option value="chainname">Chain</option>
              <option value="element">Element</option>
              <option value="hydrophobicity">Hydrophobicity</option>
              <option value="resname">Residue Name</option>
              <option value="bfactor">B-Factor</option>
              <option value="uniform">Uniform</option>
              <option value="hydrophobicity">Hydrophobicity</option>
              <option value="chainid">Chainid</option>
            </select>
          </div>
          <span class="icon is-left">
            <i class="fas fa-palette"></i>
          </span>
        </div>
      </div>

      <div class="column is-one-fifth">
        <label class="label has-text-grey-light">Focus Chain</label>
        <div class="control has-icons-left">
          <div class="select is-fullwidth">
            <select [(ngModel)]="viewerSettings.focusChain" [disabled]="!availableChains.length">
              <option value="">Select Chain</option>
              <option *ngFor="let chain of availableChains" [value]="chain" (click)="focusChain()">
                {{ chain }}
              </option>
            </select>
          </div>
          <span class="icon is-left">
            <i class="fas fa-crosshairs"></i>
          </span>
        </div>
      </div>

      <div class="column is-one-fifth has-text-centered">
        <label class="label is-invisible">Download</label>
        <button class="button is-primary is-fullwidth" (click)="takeScreenshot()">
          <span class="icon">
            <i class="fas fa-download"></i>
          </span>
          <span>Download Image</span>
        </button>
      </div>

      <div class="column is-one-fifth has-text-centered">
        <label class="label is-invisible">Fullscreen</label>
        <button class="button is-dark" (click)="toggleFullscreen()">
          <span class="icon">
            <i class="fas fa-expand"></i>
          </span>
          <span>Fullscreen</span>
        </button>
      </div>
    </div>
  </div>

  <!-- DEMOOOOO to view -->
  <!-- <div class="form-section" style="margin-top: 20px;background-color: white;">
    <label>Load Existing Job:</label>
    <div style="display: flex; gap: 10px; align-items: center;">
      <button class="button is-link" (click)="loadExistingJob()">Load</button>
    </div>
  </div> -->
  <!-- DEMOOOOOOOOOOO END -->

  <!-- Viewer Container -->
  <div *ngIf="showViewer" #viewerSection class="viewer-container">
    <div id="viewport" style="width:100%; height:600px; border:1px solid #ccc; border-radius:8px;"></div>
  </div>

  <!-- Heatmap wit the results -->
  <div *ngIf="resultFiles.length && showViewer" class="heatmap-wrapper" style="margin-top: 20px;">
    <label class="has-text-grey-light is-size-5">Energy Heatmap:</label>
    <div id="heatmapDiv"></div>
  </div>
</div>