<app-spinner-component></app-spinner-component>

<div style="text-align: center;margin-top: 30px;">
  <h1 class="has-text-weight-bold" style="font-size:2.2em; color:#003366; margin-bottom:10px;">
    In silico Interface Mutagenesis Platform
  </h1>
  <img src="assets/images/IIMEs.png" alt="Platform Overview"
    style="width:100%;margin-top: 20px;margin-bottom: 20px; max-width:1100px;">
</div>

<div class="container">
  <div class="form-section">
    <div class="field is-grouped is-grouped-centered file-upload-group">
      <div class="control">
        <label class="label has-text-grey-light has-text-centered">Upload PDB File</label>
        <div class="file is-primary has-name">
          <label class="file-label">
            <input class="file-input" type="file" accept=".pdb" (change)="onFileChange($event)" />
            <span class="file-cta">
              <span class="file-icon has-text-white">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label has-text-white">Choose a PDB File..</span>
            </span>
            <span class="file-name" *ngIf="pdbFile">
              {{ pdbFile.name }}
            </span>
          </label>
        </div>
      </div>


      <div class="control">
        <label class="label has-text-grey-light has-text-centered">Preview results</label>
        <div class="file is-link">
          <label class="file-label">
            <input class="file-input" type="file" accept=".zip" (change)="loadExistingJob($event)" />
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-cloud-upload-alt"></i>
              </span>
              <span class="file-label">Upload ZIP</span>
            </span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-section">
    <label clas="has-text-grey-light">Protein Chains:</label>
    <input type="text" [(ngModel)]="form.protein_chains" placeholder="e.g. A,B" />
  </div>

  <div class="form-section">
    <label class='has-text-grey-light'>Partner Chains:</label>
    <input type="text" [(ngModel)]="form.partner_chains" placeholder="e.g. C,D" />
  </div>

  <div class="form-section">
    <label class="has-text-grey-light">Mutations:</label>
    <input type="text" placeholder="e.g. ARGC59 GLUC60" [(ngModel)]="form.mutations"
      [disabled]="form.detect_interface" />
  </div>

  <div class="form-section">
    <label class="checkbox has-text-grey-light">
      <input type="checkbox" [(ngModel)]="form.detect_interface" (click)="onCheckBox()" />
      Detect Interface
    </label>
  </div>

  <button class="button is-primary" (click)="onGoClick()" style="margin-bottom: 28px;">Go</button>

  <div *ngIf="showViewer" style="padding-left: 30px;padding-right: 30px;">
    <div class="columns is-vcentered is-multiline">
      <div class="column is-2">
        <label class="label has-text-grey-light">Representation</label>
        <div class="control has-icons-left">
          <div class="select is-fullwidth">
            <select [(ngModel)]="viewerSettings.representation" (change)="updateRepresentation()">
              <option value="cartoon">Cartoon</option>
              <option value="ball+stick">Ball + Stick</option>
              <option value="licorice">Licorice</option>
              <option value="ribbon">Ribbon</option>
              <option value="spacefill">Spacefill</option>
              <option value="backbone">Backbone</option>
              <option value="hyperball">Hyperball</option>
              <option value="contact">Contact</option>
              <option value="label">Label</option>
              <option value="point">Point</option>
            </select>
          </div>
          <span class="icon is-left">
            <i class="fas fa-shapes"></i>
          </span>
        </div>
      </div>

      <div class="column is-3" #viewerSection>
        <label class="label has-text-grey-light">Color Scheme</label>
        <div class="control has-icons-left">
          <div class="select is-fullwidth">
            <select [(ngModel)]="viewerSettings.color" (change)="updateRepresentation()">
              <option value="chainname">Chain</option>
              <option value="element">Element</option>
              <option value="hydrophobicity">Hydrophobicity</option>
              <option value="resname">Residue Name</option>
              <option value="bfactor">B-Factor</option>
              <option value="uniform">Uniform</option>
              <option value="resname">Resname</option>
              <option value="chainid">Chainid</option>
              <option value="atomindex">Atomindex</option>
              <option value="sstruc">Sstruc</option>
              <option value="modelindex">Modelindex</option>
            </select>
          </div>
          <span class="icon is-left">
            <i class="fas fa-palette"></i>
          </span>
        </div>
      </div>

      <div class="column is-2">
        <label class="label has-text-grey-light">Focus Chain</label>
        <div class="control has-icons-left">
          <div class="select is-fullwidth">
            <select [(ngModel)]="viewerSettings.focusChain" [disabled]="!availableChains.length">
              <option value="">Select Chain</option>
              <option *ngFor="let chain of availableChains" [value]="chain" (click)="focusChain()">
                {{ chain }}
              </option>
            </select>
          </div>
          <span class="icon is-left">
            <i class="fas fa-crosshairs"></i>
          </span>
        </div>
      </div>

      <div class="column has-text-centered">
        <label class="label has-text-grey-light">Download</label>
        <button class="button is-primary is-fullwidth" (click)="takeScreenshot()" [disabled]="!stage">
          <span class="icon"><i class="fas fa-download"></i></span>
        </button>
      </div>

      <div class="column is-1 has-text-centered">
        <label class="label has-text-grey-light">Fullscreen</label>
        <button class="button is-white" (click)="toggleFullscreen()"
          style="color: #363636;border: 1px solid rgb(120, 120, 120);">
          <span class="icon">
            <i class="fas fa-expand"></i>
          </span>
        </button>
      </div>

      <div class="column is-1 has-text-centered">
        <label class="label has-text-grey-light">Zoom out</label>
        <button class="button is-white" (click)="zoomOut()" style="border: 1px solid rgb(120,120,120); color:#363636;">
          <span class="icon"><i class="fas fa-search-minus"></i></span>
        </button>
      </div>

      <div class="column is-1 has-text-centered">
        <label class="label has-text-grey-light">Zoom In</label>
        <button class="button is-white" (click)="zoomIn()" style="border: 1px solid rgb(120,120,120); color:#363636;">
          <span class="icon"><i class="fas fa-search-plus"></i></span>
        </button>
      </div>

      <div class="column is-1 has-text-centered">
        <label class="label has-text-grey-light">Refresh</label>
        <button class="button is-white" (click)="refreshViewer()" [disabled]="!stage" title="Refresh Viewer"
          style="border: 1px solid rgb(120,120,120); color:#363636;">
          <span class="icon">
            <i class="fas fa-sync-alt"></i>
          </span>
        </button>
      </div>

    </div>
  </div>

  <div *ngIf="showViewer" class="viewer-container">
    <div id="viewport" style="width:100%; height:600px; border:1px solid #ccc; border-radius:8px;"></div>
  </div>

  <div *ngIf="datMutations.length">
    <div style="margin-top: 15px;">
      <div class="has-text-centered">
        <label class=" has-text-grey-light">Mutations:</label>
        <div class="columns is-multiline is-centered is-variable is-1 is-vcentered" style="margin-top:10px;">
          <div class="column is-narrow" *ngFor="let m of datMutations">
            <button class="button is-white" style="color: #363636;border: 1px solid rgb(120, 120, 120);margin:4px;"
              (click)="onSelectMutation(m)">
              {{ m }}
            </button>
          </div>
          <div class="column is-narrow">
            <button class="button is-white" style="color: #363636;border: 1px solid rgb(120, 120, 120);"
              (click)="onShowAllHeatmap()">
              <span class="icon" style="color: #363636;"><i class="fas fa-th"></i></span>
              <span>Show All</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="selectedMutation && selectedMutation!='All Mutations'" class="box"
      style="background:white;  border:1px solid #ccc;border-radius: 10px; margin-top:20px;">
      <div class="has-text-centered">
        <label class="title is-5 has-text-grey">
          DAT File Contents ({{ selectedMutation }}):
        </label>
      </div>
      <pre class="content has-text-centered" style="font-size:1.5rem; 
      background:transparent; border:none; max-height:500px; overflow:auto;"> {{ selectedMutationContent }}
    </pre>
    </div>

    <div class="box" style="background:transparent; border:none; box-shadow:none;">
      <div id="mutationHeatmapDiv" style="margin-top:10px;"></div>
    </div>
  </div>

  <div class="has-text-centered" *ngIf="showViewer" style="margin-top: 30px; margin-bottom: 20px;">
    <div class="is-inline-block">
      <button class="button is-primary" (click)="exportResults()" style="font-size:1rem; padding: 1.25em 2em;">
        <span class="icon">
          <i class="fas fa-download"></i>
        </span>
        <span>Export Results</span>
      </button>
    </div>
  </div>
</div>

<div class="footer-container">
  <img src="assets/images/logo-famnit-okrogel.webp">
</div>