<!-- Global loader when we are waiting -->
<app-spinner-component></app-spinner-component>


<!-- Title + image -->
<div style="text-align: center;margin-top: 30px;">
  <h1 class="has-text-weight-bold" style="font-size:2.2em; color:#003366; margin-bottom:10px;">
    In silico Interface Mutagenesis Platform
  </h1>
  <img src="assets/images/IIMEs.png" alt="Platform Overview"
    style="width:100%;margin-top: 20px;margin-bottom: 20px; max-width:1100px;">
</div>

<!-- The main dashboard with other components -->
<app-dashboard></app-dashboard>

<!-- Footer logo -->
<div class="footer-container">
  <img src="assets/images/logo-famnit-okrogel.webp">
</div>