select,
.select select {
    background-color: white !important;
    color: black !important;
    border-color: #b5b5b5;
}

label {
    font-weight: bold;
    margin-bottom: 0.3rem;
}

button {
    width: 100%;
    padding: 0.7rem;
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.viewer-container {
    margin-top: 2rem;
    background-color: #f5f5f5;
    padding: 10px;
}

#viewport {
    width: 100%;
    height: 80vh;
}